:root{
    --bg-light: #fff;
    --bg-gray: #c4c4c4;
    --bg-dark: #222;
    --bg-black: #111
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-gray);

}
h1{
    color: #222;
    position: absolute;
    top: 40px;
}
.dark h1{
    color: #f4f4f4;
}
.container{
    height: 70vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    border-radius: 13px;
    box-shadow: 10px 10px 30px #999;
    transition: .5s;
}
.switch{
    height: 36px;
    width: 60px;
    padding: 5px;
    position: relative;
    background-color: var(--bg-gray);
    border-radius: 18px;
    overflow: hidden;
}
.toggler{
    background-color: var(--bg-light);
    height: 26px;
    width: 26px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 10px 10px 30px #999;
    transform: translateX(0);
    transition: .5s;
}
.switch.active{
    background-color: lime;
}
.switch.active .toggler{
    transform: translateX(100%);
    box-shadow: -10px -10px 30px #999;

}
.dark{
    background-color: var(--bg-black);
}
.dark .container{
    background-color: var(--bg-dark);
    box-shadow: 0 0 2px var(--bg-gray);
}
