*{margin: 0;padding: 0;box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: .4s;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    place-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px #666;
}
.card:hover img{
    transform: scale(1.1);
}
.card-img{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    flex-direction: column;
    overflow: hidden;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.layer{
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px ;
    color: #ddd;
    background: linear-gradient(to bottom, transparent, transparent, #000);
    overflow: hidden;
    border-radius: 20px;
}
h4{
    font-weight: 400;
}
